[Unit]
Conflicts=dropbear.service
Requires=dropbearkey.service
After=dropbearkey.service

[Socket]
ListenStream=22
Accept=yes

[Install]
WantedBy=sockets.target
